.toast-full-mobile {
  width: 100vw !important;
  max-width: 100vw !important;
  left: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  text-align: center;
  font-weight: 700;
}
